#!/usr/bin/php
<?php

    $egaugeHost = '192.168.123.123';

    $dbHost = 'localhost';
    $dbUser = 'solarcollector';
    $dbPassword = 'password';
    $db = 'solar';

    $m = new Memcached();
    $m->addServer('localhost', 11211);

    $mysqli = new MySQLi($dbHost, $dbUser, $dbPassword, $db)
        or die($mysql->error);

    $power = simplexml_load_file($egaugeHost . '/cgi-bin/egauge?inst');
    if($m->get('SolarStats:outsideTemperature'))
        $temperature = $m->get('SolarStats:outsideTemperature');
    else
    {
        $temperature = null;
    }
    $mysqli->query("SET SQL_MODE='TRADITIONAL'");
    $stmt = $mysqli->prepare("INSERT INTO PowerUsage (meterCounter, solarCounter, outsideTemperature) VALUES (?, ?, ?)")
        or die($stmt->error);
    $stmt->bind_param('iid', $power->r[0]->v, $power->r[1]->v, $temperature);
    $stmt->execute();
    $stmt->close();
    $mysqli->close();
?>
