[serial]
port = /dev/ttyUSB1
baudrate = 9600

[wunderground]
update = True
local_station_id = 1  # ID of Local Device
station_id = XXXXXXXXXXX # ID of Wunderground Station
password = password
altitude = 294

[database]
user = solarcollector
password = password
database = solar

[debug]
output = False
