[serial]
port = /dev/ttyUSB1
baudrate = 9600

[egauge]
host = 192.168.x.y

[wunderground]
update = True
local_station_id = 1  # ID of Local Device
station_id = XXXXXXXXXXX # ID of Wunderground Station
password = password
altitude = 294

[database]
update = True
host = 127.0.0.1
user = solarcollector
password = password
database = solar

[memcache]
update = True
host = 127.0.0.1
port = 11211
expiry = 600
namespace = SolarStats


[debug]
output = False
level = 0
