[serial]
port = /dev/ttyUSB1
baudrate = 9600

[wunderground]
update = True
station_id = station_id
password = password
altitude = 294

[database]
user = solarcollector
password = password
database = solar

[debug]
output = False
